
@font-face {
  font-family: 'FaktPro-Medium';
  src: url("../fonts/fakt/FaktPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/fakt/FaktPro-Medium.otf") format("opentype"), url("../fonts/fakt/FaktPro-Medium.woff") format("woff"), url("../fonts/fakt/FaktPro-Medium.ttf") format("truetype"), url("../fonts/fakt/FaktPro-Medium.svg#FaktPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */


/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0;
 }


/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

/*
 * Addresses margins set differently in IE6/7.
 */
pre {
  margin: 0; }



/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }



/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/
@media (max-width: 767px) {

body {
  font-family: "FaktPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #000000;
  background-color: #eaedf2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px; }

#container {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .loaded #container {
    opacity: 1; }

img {
  max-width: 100%; }

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/* for sites that are read right to left (i.e. hebrew) */
/* home page */
/* blog template page */
/* archive page */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
/* single post page */
/* individual post page by id (i.e. body.postid-73) */
/* individual paged single (i.e. body.single-paged-3) */
/* attatchment page */
/* individual attatchment page (i.e. body.attachmentid-763) */
/* style mime type pages */
/* author page */
/* user nicename (i.e. body.author-samueladams) */
/* paged author archives (i.e. body.author-paged-4) for page 4 */
/* category page */
/* individual category page (i.e. body.category-6) */
/* replace the number to the corresponding page number */
/* tag page */
/* individual tag page (i.e. body.tag-news) */
/* replace the number to the corresponding page number */
/* custom page template page */
/* individual page template (i.e. body.page-template-contact-php */
/* replace the number to the corresponding page number */
/* parent page template */
/* child page template */
/* replace the number to the corresponding page number */
/* if user is logged in */
/* paged items like search results or archives */
/* individual paged (i.e. body.paged-3) */
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #000000;
  /* on hover */
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #000000; }
  a:link, a:visited:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

a:focus {
  outline: none; }

h2, .h2 {
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 0.8em;
  margin-bottom: 0.8em !important;
  border-bottom: 0.1em #000 solid; }

h3, .h3 {
  font-size: 1em; }

h4, .h4 {
  font-size: 1em;
  font-weight: 700; }

h5, .h5 {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase; }

p {
  line-height: 1.3em; }

a {
  text-decoration: none !important; }

/*********************
HEADER STYLES
*********************/
.logo {
    width: 12%;
    position: fixed;
    z-index: 2;
    padding: 2%;
}
/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
.nav {
  border-bottom: 0;
  margin: 0;
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav li {
    /*
    so you really have to rethink your dropdowns for mobile.
    you don't want to have it expand too much because the
    screen is so small. How you manage your menu should
    depend on the project. Here's some great info on it:
    http://www.alistapart.com/articles/organizing-mobile/
    */ }
    .nav li a {
      display: block;
      color: #000000;
      text-decoration: none;
      /*
      remember this is for mobile ONLY, so there's no need
      to even declare hover styles here, you can do it in
      the style.scss file where it's relevant. We want to
      keep this file as small as possible!
      */ }
    .nav li ul.sub-menu li a,
    .nav li ul.children li a {
      padding-left: 30px; }

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  margin-top: 1.5em; }
  
/* end .may_page_navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }
.wp-prev-next .next-link {
  float: right; }

/* end .wp-prev-next */
/******************************************************************
COMMENT STYLES
******************************************************************/
/* h3 comment title */
#comments-title {
  padding: 0.75em;
  margin: 0;
  border-top: 1px solid #f8f9fa;
  /* number of comments span */ }

.commentlist {
  margin: 0;
  list-style-type: none; }

.comment {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 1.5em;
  border-bottom: 1px solid #f8f9fa;
  /* vcard */
  /* end .commentlist .vcard */
  /* end children */
  /* general comment classes */ }
  .comment .comment-author {
    padding: 7px;
    border: 0; }
  .comment .vcard {
    margin-left: 50px; }
    .comment .vcard cite.fn {
      font-weight: 700;
      font-style: normal; }
    .comment .vcard time {
      display: block;
      font-size: 0.9em;
      font-style: italic; }
      .comment .vcard time a {
        color: #9fa6b4;
        text-decoration: none; }
        .comment .vcard time a:hover {
          text-decoration: underline; }
    .comment .vcard .avatar {
      position: absolute;
      left: 16px;
      border-radius: 50%; }
  .comment:last-child {
    margin-bottom: 0; }
  .comment .children {
    margin: 0;
    /* variations */
    /* change number for different depth */ }
  .comment[class*=depth-] {
    margin-top: 1.1em; }
  .comment.depth-1 {
    margin-left: 0;
    margin-top: 0; }
  .comment:not(.depth-1) {
    margin-top: 0;
    margin-left: 7px;
    padding: 7px; }
  .comment.odd {
    background-color: #fff; }
  .comment.even {
    background: #f8f9fa; }

/* comment meta */
/* comment content */
.comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

/* end .commentlist .comment_content */
/* comment reply link */
.comment-reply-link {
  font-size: 0.9em;
  float: right; }

/* end .commentlist .comment-reply-link */
/* edit comment link */
.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: 0.9em; }

/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.comment-respond {
  padding: 1.5em;
  border-top: 1px solid #f8f9fa; }

#reply-title {
  margin: 0; }

.logged-in-as {
  color: #9fa6b4;
  font-style: italic;
  margin: 0; }
  .logged-in-as a {
    color: #000000; }

.comment-form-comment {
  margin: 1.5em 0 0.75em; }

.form-allowed-tags {
  padding: 1.5em;
  background-color: #f8f9fa;
  font-size: 0.9em; }

/* comment submit button */
#submit {
  float: right;
  font-size: 1em; }

/* comment form title */
#comment-form-title {
  margin: 0 0 1.1em; }

/* cancel comment reply link */
/* logged in comments */
/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

/* no comments */
.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul li {
  /* deep nesting */ }

.no-widgets {
  background-color: #fff;
  padding: 1.5em;
  text-align: center;
  border: 1px solid #000;
  border-radius: 2px;
  margin-bottom: 1.5em; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  background-color: #000000;
  color: #f8f9fa; }

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
/* end .footer-links */
#content {
  margin-top: 2.3em;
  margin-left: 1.3em;
  margin-right: 1.3em; }

#navigation-left,
#navigation-right {
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 1.3em;
  line-height: 1em;
  overflow: hidden;
  border-right: 0.1em solid #000; }
  #navigation-left .inner-navigation,
  #navigation-right .inner-navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-transform: rotate(-90deg) translateY(-38%) translateX(-50%);
    -ms-transform: rotate(-90deg) translateY(-38%) translateX(-50%);
    -webkit-transform: rotate(-90deg) translateY(-38%) translateX(-50%);
    transform: rotate(-90deg) translateY(-38%) translateX(-50%);
    line-height: 1em;
    font-size: 1em;
    text-transform: uppercase; }

#navigation-right {
  left: auto;
  right: 0px;
  border-right: none;
  border-left: 0.1em solid #000; }
  #navigation-right .inner-navigation {
    -moz-transform: rotate(90deg) translateY(-38%) translateX(-50%);
    -ms-transform: rotate(90deg) translateY(-38%) translateX(-50%);
    -webkit-transform: rotate(90deg) translateY(-38%) translateX(-50%);
    transform: rotate(90deg) translateY(-38%) translateX(-50%); }

#overlay {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1009; }
  #overlay.active {
    display: block; }

#menu,
#press {
  position: fixed;
  width: 60%;
  overflow-y: scroll;
  left: -60%;
  top: 0px;
  z-index: 1010;
  bottom: 0px;
  text-transform: uppercase;
  border-right: 0.1em #000 solid;
  padding: 0.85em;
  -webkit-transition: left 0.5s, right 0.5s;
  transition: left 0.5s, right 0.5s; }
  #menu.active,
  #press.active {
    left: 0px; }
  #menu li,
  #press li {
    padding: 0;
    display: block;
    width: 100%; }
    #menu li a,
    #press li a {
      display: block; }
    #menu li:first-child a,
    #press li:first-child a {
      padding-top: 0px; }
  #menu a,
  #press a {
    padding: 0.8em 0;
    line-height: 1em;
    display: block !important;
    width: 100%;
    border-bottom: 0.1em #000 solid; }
  #menu .lang,
  #press .lang {
    border-bottom: 0.1em #000 solid;
    margin-bottom: 0.8em;
    line-height: 0; }
    #menu .lang a,
    #press .lang a {
      display: inline-block !important;
      border-bottom: none;
      width: auto;
      padding-top: 0; }

#press {
  left: auto;
  right: -60%;
  border-right: none;
  border-left: 0.1em #000 solid; }
  #press.active {
    left: auto;
    right: 0px; }
  #press .inner .link {
    margin-top: 0px;
    margin-bottom: 0.8em; }
    #press .inner .link a {
      padding-top: 0px; }
    #press .inner .link:first-child a {
      margin-top: 0px; }
  #press .mailchimp {
    margin-top: 0.8em; }
    #press .mailchimp .mc4wp-alert {
      font-size: 0.5em;
      line-height: 1em; }
    #press .mailchimp form p {
      line-height: 1.2em; }
    #press .mailchimp form input {
      background-color: transparent;
      border: 0.1em solid #000;
      display: inline-block;
      width: 100%;
      line-height: 1.3em;
      text-transform: uppercase;
      border-radius: 0px;
      padding: 0.6em 0.4em 0.4em; }
      #press .mailchimp form input[type=email], #press .mailchimp form input[type=text] {
        font-size: 0.65em;
        border-width: 0.15em; }
      #press .mailchimp form input[type=submit] {
        display: none; }

.close {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  padding: 0;
  line-height: 1em;
  z-index: 1011;
  cursor: pointer; }
  .close img {
    height: 0.7em;
    width: auto; }

hr {
  margin-bottom: 0;
  margin-top: 0.8em;
  padding-bottom: 0.8em;
  border: none;
  border-top: 0.1em #000 solid; }
  hr.internal {
    margin-left: 0.8em;
    margin-right: 0.8em; }

#header-text {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 2.3em;
  overflow: hidden;
  border-bottom: 0.1em solid #000; }
  #header-text #inner-header-text {
    position: absolute;
    font-size: 1em;
    line-height: 1em;
    height: 0.8em;
    overflow: hidden;
    top: 50%;
    text-transform: uppercase;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    #header-text #inner-header-text .text {
      margin-right: 0.8em; }

.project .gallery {
  height: 15em;
}
.project .gallery img {
    width: 65%;
    height: auto;
}


.wrap-content {
  padding-left: 0.8em;
  padding-right: 0.8em; }

p, h1, h2, h3, h4 {
  margin-bottom: 0px;
  margin-top: 0px; }
  p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child {
    margin-bottom: 0px; }
  p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0px; }

/* SECTION */
#introduction {
  text-align: center;
  position: relative;
  font-size: 7em; }
  #introduction .inner {
    position: absolute;
    top: 50%;
    line-height: 1em;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  #introduction p {
    text-indent: 0px;
    margin: 0;
    line-height: 1em;
    padding: 0; }

.project:first-child :before {
  height: 0px;
  margin: 0;
  padding: 0; }

.project-images {
  height: auto; }
  .project-images:before {
    height: 0.1em;
    content: '';
    background-color: #000;
    margin-left: 0.8em;
    margin-right: 0.8em;
    display: block;
    margin-bottom: 0.8em;
    margin-top: 1em; }
  .project-images .count {
    padding-bottom: 0.8em; }

.prev-hr .project-images:before {
  height: 0px;
  margin: 0;
  padding: 0; }

#contact,
#services,
#projects {
  padding-top: 0.8em; }
  #contact hr:first-child,
  #contact .inner hr:first-child,
  #services hr:first-child,
  #services .inner hr:first-child,
  #projects hr:first-child,
  #projects .inner hr:first-child {
    margin-top: 0px; }

.project .project-informations .h2 {
  padding-top: 1em;
  border-top: 0.1em #000 solid; }
.project .project-informations hr:first-child {
  display: none;
  padding-top: 0.8em;
  border-top: 0;
  margin-bottom: 0.8em;
  padding-bottom: 0px;
  border-bottom: 0.1em #000 solid; }

.navigation-fixed .inner-navigation {
  opacity: 1; }

p.tiny {
  font-size: 0.5em;
  text-align: center; }

.content-column.last_column {
  margin-bottom: 0px !important; }

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: 481px and Up Stylesheet

  This stylesheet is loaded for larger devices. It's set to
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection.

  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.

  ******************************************************************/
  /*
  IMPORTANT NOTE ABOUT SASS 3.3 & UP
  You can't use @extend within media queries
  anymore, so just be aware that if you drop
  them in here, they won't work.
  */
  /*********************
  NAVIGATION STYLES
  *********************/
  /* .menu is clearfixed inside mixins.scss */
  .menu {
    /* end .menu ul */ }
    .menu ul {
      /* end .menu ul li */
      /* highlight current page */
      /* end current highlighters */ }
      .menu ul li {
        /*
        plan your menus and drop-downs wisely.
        */ }
        .menu ul li a {
          /*
          you can use hover styles here even though this size
          has the possibility of being a mobile device.
          */ }

  /* end .menu */
  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */ }
    .entry-content .alignleft, .entry-content img.alignleft {
      margin-right: 1.5em;
      display: inline;
      float: left; }
    .entry-content .alignright, .entry-content img.alignright {
      margin-left: 1.5em;
      display: inline;
      float: right; }
    .entry-content .aligncenter, .entry-content img.aligncenter {
      margin-right: auto;
      margin-left: auto;
      display: block;
      clear: both; }

  /* end .entry-content */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  check your menus here. do they look good?
  do they need tweaking?
  */
  /* end .footer-links */ }
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Tablet & Small Desktop Stylesheet

  Here's where you can start getting into the good stuff.
  This size will work on iPads, other tablets, and desktops.
  So you can start working with more styles, background images,
  and other resources. You'll also notice the grid starts to
  come into play. Have fun!

  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    width: 100%; }

  /*********************
  HEADER STYLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .nav ul {
      background: #000000;
      margin-top: 0; }
    .nav li {
      float: left;
      position: relative;
      /*
      plan your menus and drop-downs wisely.
      */
      /* showing sub-menus */ }
      .nav li a {
        border-bottom: 0;
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }
        .nav li a:hover, .nav li a:focus {
          color: #000000; }
      .nav li ul.sub-menu,
      .nav li ul.children {
        margin-top: 0;
        border: 1px solid #ccc;
        border-top: 0;
        position: absolute;
        visibility: hidden;
        z-index: 8999;
        /* highlight sub-menu current page */ }
        .nav li ul.sub-menu li,
        .nav li ul.children li {
          /*
          if you need to go deeper, go nuts
          just remember deeper menus suck
          for usability. k, bai.
          */ }
          .nav li ul.sub-menu li a,
          .nav li ul.children li a {
            padding-left: 10px;
            border-right: 0;
            display: block;
            width: 180px;
            border-bottom: 1px solid #ccc; }
          .nav li ul.sub-menu li:last-child a,
          .nav li ul.children li:last-child a {
            border-bottom: 0; }
          .nav li ul.sub-menu li ul,
          .nav li ul.children li ul {
            top: 0;
            left: 100%; }
      .nav li:hover > ul {
        top: auto;
        visibility: visible; }

  /* end .nav */
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar {
    margin-top: 2.2em; }

  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em; }

  .widget {
    padding: 0 10px;
    margin: 2.2em 0; }
    .widget ul li {
      margin-bottom: 0.75em;
      /* deep nesting */ }
      .widget ul li ul {
        margin-top: 0.75em;
        padding-left: 1em; }

  /* links widget */
  /* meta widget */
  /* pages widget */
  /* recent-posts widget */
  /* archives widget */
  /* tag-cloud widget */
  /* calendar widget */
  /* category widget */
  /* recent-comments widget */
  /* search widget */
  /* text widget */
  /*********************
  FOOTER STYLES
  *********************/
  /*
  you'll probably need to do quite a bit
  of overriding here if you styled them for
  mobile. Make sure to double check these!
  */
  .footer-links ul li {
    /*
    be careful with the depth of your menus.
    it's very rare to have multi-depth menus in
    the footer.
    */ }

  /* end .footer-links */
  .project {
    position: relative; }
    .project .project-images {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 50%;
      overflow: hidden; }
      .project .project-images:before {
        display: none; }
    .project.active-section .project-images {
      position: fixed;
      top: 2.3em;
      left: 1.3em;
      display: block;
      width: auto;
      right: 50%; }
    .project.slide-in .project-images {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: auto; }
    .project.slide-out .project-images {
      display: block;
      position: absolute;
      top: auto !important;
      bottom: 0px;
      left: 0px; }
      .project.slide-out .project-images .count {
        padding-bottom: 0px; }
    .project .project-informations {
      width: 50%;
      margin-left: 50%;
      border-left: 0.1em #000 solid
     }
      .project .project-informations hr:first-child {
        display: block; }
      .project .project-informations .h2 {
        padding-top: 0em;
        border-top: none; }
    .project .gallery {
      height: 90%; }

  .navigation-fixed .inner-navigation {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .navigation-fixed .inner-navigation.hidden {
      opacity: 0; }
  .navigation-fixed:hover .inner-navigation {
    opacity: 1 !important; }

  #introduction {
    font-size: 9.8em; }

  #menu {
    left: -30%;
    width: 30%; }

  #press {
    right: -30%;
    width: 30%; }

  .content-column.one_half {
    padding-right: 0.8em; }
  .content-column.last_column {
    padding-right: 0px;
    padding-left: 0.8em;
    border-left: 0.1em #000 solid; }

  #content {
    margin-bottom: 0.8em; } }
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Desktop Stylsheet

  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.

  ******************************************************************/
  .wrap {
    width: 100%; } }
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Super Large Monitor Stylesheet

  You can add some advanced styles here if you like. This kicks in
  on larger screens.

  ******************************************************************/ }
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Retina Screens & Devices Stylesheet

  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.

  ******************************************************************/
  /*

  EXAMPLE
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:

  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }

  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:

  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }

  So, you would create the same icon, but at double the resolution, meaning
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go.

  */ }
/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
  /******************************************************************
  Site Name:
  Author:

  Stylesheet: Print Stylesheet

  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.

  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
  width: 600px;
  height: 400px;
  position: relative;
  direction: ltr; }

.royalSlider > * {
  float: left; }

.rsWebkit3d .rsSlide {
  -webkit-transform: translateZ(0); }

.rsWebkit3d .rsSlide,
.rsWebkit3d .rsContainer,
.rsWebkit3d .rsThumbs,
.rsWebkit3d .rsPreloader,
.rsWebkit3d img,
.rsWebkit3d .rsOverflow,
.rsWebkit3d .rsBtnCenterer,
.rsWebkit3d .rsAbsoluteEl,
.rsWebkit3d .rsABlock,
.rsWebkit3d .rsLink {
  -webkit-backface-visibility: hidden; }

.rsFade.rsWebkit3d .rsSlide,
.rsFade.rsWebkit3d img,
.rsFade.rsWebkit3d .rsContainer {
  -webkit-transform: none; }

.rsOverflow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent; }

.rsVisibleNearbyWrap .rsOverflow {
  position: absolute;
  left: 0;
  top: 0; }

.rsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

.rsArrow,
.rsThumbsArrow {
  cursor: pointer; }

.rsThumb {
  float: left;
  position: relative; }

.rsArrow,
.rsNav,
.rsThumbsArrow {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }

.rsHidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
  transition: visibility 0s linear 0.3s,opacity 0.3s linear; }

.rsGCaption {
  width: 100%;
  float: left;
  text-align: center; }

/* Fullscreen options, very important ^^ */
.royalSlider.rsFullscreen {
  position: fixed !important;
  height: auto !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 2147483647 !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important; }

.royalSlider .rsSlide.rsFakePreloader {
  opacity: 1 !important;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none; }

.rsSlide {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.royalSlider.rsAutoHeight,
.rsAutoHeight .rsSlide {
  height: auto; }

.rsContent {
  width: 100%;
  height: 100%;
  position: relative; }

.rsPreloader {
  position: absolute;
  z-index: 0; }

.rsNav {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

.rsNavItem {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25); }

.rsThumbs {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 22; }

.rsTabs {
  float: left;
  background: none !important; }

.rsTabs,
.rsThumbs {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

.rsVideoContainer {
  /*left: 0;
  top: 0;
  position: absolute;*/
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  float: left;*/
  width: auto;
  height: auto;
  line-height: 0;
  position: relative; }

.rsVideoFrameHolder {
  position: absolute;
  left: 0;
  top: 0;
  background: #141414;
  opacity: 0;
  -webkit-transition: .3s; }

.rsVideoFrameHolder.rsVideoActive {
  opacity: 1; }

.rsVideoContainer iframe,
.rsVideoContainer video,
.rsVideoContainer embed,
.rsVideoContainer .rsVideoObj {
  position: absolute;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

/* ios controls over video bug, shifting video */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 44px; }

.rsABlock {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 15; }

img.rsImg {
  max-width: none; }

.grab-cursor {
  cursor: url(grab.png) 8 8, move; }

.grabbing-cursor {
  cursor: url(grabbing.png) 8 8, move; }

.rsNoDrag {
  cursor: auto; }

.rsLink {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background: url(blank.gif); }
