header {
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 207, 185);
}

#hidden {
  text-align: center;
  position: fixed;
  width: 100%;
  font-size: 13vw;
  font-family: "nimbus-sans";
  letter-spacing: 0.5vw;
  z-index: 50;
  color: white;
  background-color: #dbc1bd;
  text-transform: uppercase;
  left:0;
  top:0;
  height: 100%
}


.site-title {
  text-decoration: none;
  text-align: center;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-size: 13vw;
  font-family: "nimbus-sans";
  letter-spacing: 0.5vw;
  z-index: 2;
}


a {
  text-decoration: none;
  color: black;
}

.sidenav .about{
  position: absolute;
  width: 500px;
  float: left;
  font-size: 2.37vw;
  font-family: "nimbus-sans";
  letter-spacing: 0.3vw;
  color: black;
  right: 54%;
  margin-bottom: 5%;
  -webkit-font-smoothing: antialiased;
  line-height: 120%;
}

@media (min-width: 1500px) {
  .sidenav .about{
    position: absolute;
    width: 500px;
    float: left;
    font-size: 2vw;
    font-family: "nimbus-sans";
    letter-spacing: 0.1vw;
    right: 66%;
    margin-bottom: 5%;
    -webkit-font-smoothing: antialiased;
    line-height: 140%;
  }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #dfdbd1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2%; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.5%;
    color: black;
    text-transform: uppercase;
    font-size: 13vw;
    font-family: "nimbus-sans";
    line-height: 100%;
    line-height: 1.3;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
